* {
    margin: 0;
    padding: 0;
}



.grid {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: min-content;
    grid-template-rows: min-content min-content auto min-content;
    grid-template-areas:
        'header header'
        'nav nav'
        'aside main'
        'footer footer';
}

header,
nav,
aside,
main,
footer {
    /* border: 1px solid black; */
    background-color: rgb(252, 252, 252);
}

header {
    grid-area: header;
    text-align: center;
    font-size: 35px;
    padding: 10px;
    background-color: #c1a3f165;
    list-style-type: none;

}

header a {
    text-decoration: none;
    
}

nav {
    grid-area: nav;
    background-color: #1b264f;
    list-style-type: none;
    text-align: right;
    margin: 0;
    padding: 10px;
}

nav li {
    display: inline-block;
    font-size: 16px;
    padding: 8px;
}

nav li a {
    display: block;
    color: rgb(243, 247, 248);
    /* background-color: white; */
    padding: 4px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}



main {
    grid-area: main;
    padding: 40px;
    text-align: left;
    overflow: auto;
    background-image: url(/images/background.jpg);
    background-size: cover;
    background-position: center;
}

img {
    display: block;
    margin: 50px auto;
    width: auto;
}

p {
    padding: 10px;
}

h2 {
    text-align: center;
    padding: 5px;
    margin-top: -20px;
}

h3 {
    text-align: center;
    padding: 35px;
}
h4 {
    padding-top: 40px;
    text-align: center;

}

form {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 0 auto;
    border: 2px solid #302b27;
    border-radius: 5px;
    padding: 20px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    height: 25px;
    margin-bottom: 20px;
    padding: 0 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    padding: 5px 20px;
    font-size: 16px;
    background-color: #1b264f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}



main ul {
    padding: 50px;
}

ol {
    padding: 50px;
}

footer {
    grid-area: footer;
}

.link {
    display: block;
}

aside {
    grid-area: aside;
    color: #fff;
    width: 150px;
    padding-left: 20px;
    height: auto;
    background-image: linear-gradient(30deg, #274690, #2b7cc4);
    position: relative;
    overflow: hidden;
}

aside a {
    font-size: 12px;
    color: #fff;
    display: block;
    padding: 12px;
    padding-left: 30px;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

.dropdown-btn {
    font-family: 'Times New Roman';
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 12px;
    color: #fff;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    padding: 12px;
    padding-left: 30px;
    text-decoration: none;
    
}



aside a:hover, .dropdown-btn:hover {
    color: #3f5efb;
    background: #fff;
    outline: none;
    position: relative;
    background-color: #fff;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}


.active {
    background-color: none;
    color: white;
}


.dropdown-container {
    display: none;
    background-color: none;
    padding-left: 15px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
    float: right;
    padding-right: 8px;
}

.first{
    text-align: center;
    font-size: larger;
    /* padding: 0; */
    margin: 20%;
}
/* .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form input {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    opacity: 0;
    transition: all 0.5s;
  }
  
  .alert-box {
    position: fixed;
    top: null;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.5s;
  }
   */